.root {
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  position: relative;
  margin: 24px 0;
  padding: 12px;
}

.markdown {
  white-space: pre-wrap;
  word-break: break-all;
}

.twoColumnWrapper {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  gap: 8px;
  padding: 4px 12px;
}

.page {
  flex: 1 0 50%;
  width: 50%;
  padding: 0 16px;
  box-shadow: 0 0 0 1px #000;
  height: fit-content;
}

article.page img {
  max-width: 100%;
}

.pageLink {
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
